# Exceptions
!**/default.config.*
!**/*.env.example
!**/*.config.js
!**/*.config.cjs

# Directories
**/__pycache__/
**/__sapper__/

**/.DS_STORE/
**/.artifacts/data/
**/.docker/data/
**/.idea/
**/.pytest_cache/
**/.svelte-kit/
**/.vscode/

**/build/
**/debug/
**/dist/
**/env/
**/node_modules/
**/target/
**/venv/

# File Extensions
**/*.bk
**/*.bk.*

**/.config/*.config.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.env
**/*.env.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*